.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

video {
	height: 300px;
	width: 300px;
}

.search-next {
	margin: 0px;
	position: fixed;
	background-color: #fff;
	width: 100vw;
}

img {
	height: 60vw;
	width: 90vw;
}

button {
	font-size: 25px;
	width: 100%;
	height: 50px;
}

input {
	margin: 0px;
	font-size: 25px;
	width: 100vw;
	height: 40px;
}

.request-main {
	padding-top: 28vh;
	border: 1px solid #000;
}
.video-card-m {
	padding-bottom: 20px;
	border: 1px solid #000;
}

.video-card-m button {
	font-size: 5.5vw;
	font-weight: bold;
	color: white;
	/* transform: rotate(-90deg); */
	position: relative;
	height: 60vw;
	background-color: rgb(49, 22, 22);
	z-index: -20;
}

.video-delete {
	display: flex;
	flex-direction: row;
}
